  .home-right{
    height: 80%;
  }

  .home-right-main{
    height: 80%;
  }

  .home-right-main-img{
     
      margin: auto;    
      display: block;
  }

  .home-right-footer{
     width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .home-right-main-img{
     
      margin: auto;    
      display: none;
  }
  }